@model incode.Models.ShippedDetail

@{
    ViewData["Title"] = "寄送紀錄";
}

<h1>Details</h1>

<div>
    <h4>ShippedDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsCompleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsCompleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderDetailId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ShippedDetailId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
