@model IEnumerable<incode.Models.EntrustMission>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RewardPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RewardPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Nickname)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EntrustMissionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EntrustMissionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EntrustMissionId">Delete</a>
                    <a asp-controller="EntrustMissionProgresses" asp-action="Index"
                       asp-route-EntrustMissionId="@item.EntrustMissionId"
                       class="btn btn-sm btn-outline-primary">
                        查看進度
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>


